<div class="operatorInfo-bar">
  <div class="operator-top-bar">
    <div class="operatorInfo-quit-button"><i class="fa fa-times" aria-hidden="true"></i></div>
  </div>
  <div class="operator-detail">
    <div class="operator-name">Emoji Sentiment Analysis</div>
    <div class="separator"></div>
    <div class="operator-description-title">Description</div>
    <p class="operator-description">
      This operator is used to parse from database and capture data ejafiaweiofjajfaoewjfweoijfawiejfioejfiojaewiojfioj
    </p>
    <div class="operator-description-title">Image</div>
    <img class="operator-image" src="../thirdparty/images/keywordSearch.png" alt="Operator Image">
  </div>
</div>
